* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  background-color: rgb(166, 220, 241);
  border-radius: 1rem;
}

#add-btn{
    background-color: rgb(11, 221, 106);
    outline: none;
    color: #fff;
    padding: .3rem 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

#todoInfo{
  padding: .3rem 1rem;
  outline: none;
  border: 1px solid #999;
  border-radius: 1rem;
}

#todolist{
  margin-top: 1rem;
}

#add-btn i{  
    color: #fff;
}

#list-item{
  margin: 0 ;
  padding: 0;
  font-size: 1.2rem;
}