* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  background-color: skyblue;
  padding-bottom: 5rem;
  width: 500px;
}

#add-btn{
    background-color: rgb(73, 239, 27);
    outline: none;
    color: #fff;
    padding: .3rem 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

#todoInfo{
  padding: .3rem 1rem;
  outline: none;
  border: 1px solid #999;
  border-radius: 1rem;

}

#add-btn i{  
    color: #fff;
}

#input-group{
  display:flex;
}